$gray-100: #f2f2f2 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #8a9198 !default;
$gray-700: #616265 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue:    #003366 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d8292f !default;
$orange:  #fd7e14 !default;
$yellow:  #fcba19 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #5091cd !default;

$border-color: $gray-300;
$link-color: #1a5a96;
$component-active-bg: #5475a7;

$theme-colors: (
  "secondary": #5475a7,
  "light": $gray-200,
);
