{

  "logEnvironment": "",

  "serverPort": 9000,
  "serverPath": "/",

  "sessionSecret": "s3cr3t",
  "sessionCookieSecure": false,

  "oidc": {
    "issuer": "https://auth.dev/issuer",
    "clientID": "xx",
    "clientSecret": "xxxx",
    "authorizationEndpoint": "https://auth.dev/issuer/auth",
    "tokenEndpoint": "https://auth.dev/issuer/token",
    "host": "https://auth.dev",
    "userInfoPath": "/issuer/userinfo",
    "userInfoURL": "https://auth.dev/issuer/userinfo",
    "logoutURL": "https://auth.dev/issuer/logout?redirect_uri=http://localhost:9000/",
    "callbackURL": "https://example.com/callback",
    "scope": "oidc"
  },

  "links": {
    "ocwa": "https://ocwa.example.demo",
    "ocwadl": "https://ocwadl.example.demo",
    "projectsc": "https://projectsc.example.demo",
    "selfserve": "https://projectsc.example.demo/v1/selfserve/main"
  },

  "azureGraph":{
    "clientID": "",
    "clientSecret": "",
    "AADLoginHost": "",
    "GraphApiHost": ""
  },

  "azureGroups":{
    "scientist": "",
    "user": ""
  },

  "echo":{
    "subscriptionKey": "",
    "uri": "localhost",
    "port": 8082,
    "proto": "http",
    "path": "/"
  },

  "who":{
    "subscriptionKey": "",
    "uri": "",
    "port": 0,
    "proto": "",
    "path": ""
  }

}
